:root {
    --list-item-wrapper-height: 3em;
    --button-holder-width: 7em;
    --colon-separator-width: 2px;

    --list-item-border-width: 2px;
    --list-item-left-border-disposition: 2px;

    --list-item-border-padding: 2px;
    --list-minimum-width: 50em;
}

/************
* List main *
************/
.list {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;

    margin: auto;
    width: 90%;
    min-width: var(--list-minimum-width);
    min-height: 20em;

    border: black var(--list-item-border-width) solid;
}


/********************
* List Item Wrapper *
********************/
.list-item-wrapper {
    width: 100%;
    min-width: var(--list-minimum-width);
    min-height: var(--list-item-wrapper-height);
    
    position: relative;
}

.list-item-wrapper.list-header {border-bottom: black var(--list-item-border-width) solid;}
.list-item-wrapper.list-header::after {border: none;}

.list-item-wrapper:last-child::after {border: transparent 0;}
.list-item-wrapper::after {
    content: '';
    
    position: absolute;
    left: var(--list-item-left-border-disposition);
    bottom: 0;
    
    width: calc(100% - var(--list-item-left-border-disposition) * 2);
    border-bottom: var(--list-item-border-width) black solid;
}


/***********************
* Colon for List Items *
***********************/
.col {
    vertical-align: middle;
    display: inline-block;
    background: black;
    width: var(--colon-separator-width);
    min-height: var(--list-item-wrapper-height);
}

/*************
* List Parts *
*************/
.template-message, .template-label,
.rule-label, .recipient-count, .start-date, .end-date,
.first-name, .last-name, .telephone, .address {
    vertical-align: middle;
    display: inline-block;
    height: var(--list-item-wrapper-height);
    width: calc((99% - var(--button-holder-width)) / 4);

    overflow: hidden;
    text-overflow: ellipsis;
}
.template-message, .template-label {
    width: calc((99% - var(--button-holder-width)) / 2);
}
.rule-label, .recipient-count, .start-date, .end-date {
    width: calc((99% - var(--button-holder-width)) / 4);
}

.list-header .template-message,
.list-header .template-label, .template-label,
.list-header .rule-label, .rule-label,
.list-header .first-name, .first-name,
.list-header .last-name, .last-name,
.list-header .telephone, .telephone,
.list-header .address, .address,
.list-header .recipient-count, .recipient-count,
.list-header .start-date, .start-date,
.list-header .end-date, .end-date {
    height: unset;
    text-align: center;
}


/*********************
* Button Holder Part *
*********************/
.button-holder {
    vertical-align: middle;
    display: inline-flex;
    flex-flow: column;
    justify-content: center;

    text-align: center;

    width: var(--button-holder-width);
    height: var(--list-item-wrapper-height);
}

.list-header .button-holder {justify-content: inherit;}



/*****************
* Action Buttons *
*****************/
.action-buttons {
    display: flex;
    flex-flow: row-reverse;

    min-width: var(--list-minimum-width);
    width: 90%;

    margin: auto;
    margin-bottom: 2em;

}